.root {
   margin-top: -8px;
}

.container {
   padding-top: 10px; 
}

.card {
   padding: 8px;
   border: 2px solid rgb(230, 225, 225);
   min-width: 100px;
}

.blue {
   color: rgb(47, 80, 166);
}

.text-medium {
   font-size: 16px;
}

.text-xs {
   font-size: 12px;
}

.bold {
   font-weight: 600;
}

.semi-bold {
   font-weight: 400;
}

.blue-btn {
   background-color: #1A3875;
   color: white;
   padding: 6px;
   border-radius: 4px;
}

.normal-btn {
   background-color: white;
   border: none;
   text-decoration: underline;
   color: #1A3875;
   font-size: 14px;
}